<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">When is it!</h2>
                <hr class="light">
                <p class="text-faded"> 
                    It is a sociable but competitive badminton club which was established
                    in 1979 at Gosling Stadium in Welwyn and moved to Hertfordshire Sports Village
                    (HSV) in Hatfield, 5 mins from Stablans, in 2003. We currently operate at three different times:               
                    <ul style="list-style-type:none">
                    <li>Senior club (Thursdays 8-10pm, Sundays 7-9pm. Matches: Tuesdays 7:30-10:30pm)</li>
                    <li>Junior club (Sundays 6-7pm)</li>
                    <li>Adult development club (Fridays 7:30-8:30pm)</li>
                    </ul>
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get In Touch!</a>
            </div>
        </div>
    </div>
</section>
