<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who are we?</h2>
                <hr class="light">
                <p class="text-justify"> 
                    Comets are one of the largest and most successful badminton clubs playing in the Hertfordshire County Leagues. 
                    We have over 50 members and 6 teams in the county leagues, with Ladies, Mixed and Mens teams all represented in the top division. 
                    We also participate in the South West Herts League and Watford Men’s League. 
                    We pride ourselves on our competitive yet friendly atmosphere, with a strong social side to the club away from the badminton court.</p>             
                <p class="text-justify">
                    Throughout the year, club nights run twice a week on Thursdays (8-10pm) and Sundays (7-9pm). 
                    We are currently looking for new members, if you have experience of playing at county league level, i
                    ncluding country seniors, or have recently played for a university first team, or in a county junior squad, then we’d be keen to hear from you. 
                    We operate tester sessions where you can visit us to see our facilities, meet our club members & committee, and play for an evening.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get In Touch!</a>
            </div>
        </div>
    </div>
</section>
