<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who are we?</h2>
                <hr class="light">
                <p class="text-faded"> 
                    Comets are the largest and one of the most successful badminton clubs playing in the Hertfordshire County Leagues.  
                    We have nearly 50 members and 6 teams in the county leagues, with Ladies, Mixed and Mens teams all represented in the top division.  
                    We pride ourselves on our competitive yet friendly atmosphere, with a strong social side to the club away from the badminton. .             
                    <ul style="list-style-type:none">
                    <li> Throughout the year, club nights run twice a week on Thursdays (8-10pm) and Sundays (7pm to 9pm).</li>
                    <li>Due to recent popularity, the club is nearly at full capacity. 
                        We are therefore only currently considering the strongest players as new members. 
                        If you have experience of playing in the top division of a county league, 
                        currently or have recently played for a university first team or county junior squad, then we’d be keen to hear from you.</li>
                    </ul>
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get In Touch!</a>
            </div>
        </div>
    </div>
</section>
